.idea
.vscode

/public/storage
/public/vendor

/routes/console.php

/storage/*.key

/vendor

/.env
/.env.backup
/.env.testing

_ide_helper*
.phpstorm.meta.php

*.backup
*.cache
*.log
*.orig
*.bak

*.BASE
*.LOCAL
*.REMOTE
